<h2>Estoque atual</h2>
<table>
    <thead>
        <tr>
            <th>Lote</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Validade</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.expiration_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Produtos total: {{ total_stock }}</p>
